<% if place.liked_by?(current_user) %>
  <!--いいね削除-->
    <p>
      <%= link_to place_likes_path(place), method: :delete, remote: true do %>
        ♥<%= place.likes.count %>
       <% end %> 
    </p>
  <!--いいねする-->
  <% else %>
    <p>
      <%= link_to place_likes_path(place), method: :post, remote: true do %>
        ♡<%= place.likes.count %>
      <% end %> 
    </p>
  <% end %>