<div class="home">
  <div class="text-center">
    <script src="jquery.min.js"></script>
    このサイトはあなたの地元の魅力を発信していくサイトです。<br>
    ここにしかない場所や珍しいところまで、どんどん投稿してください！<br>
  </div>
  <div class="new">
    <!--ここに新着投稿リストを導入-->
    <!--画像込みで表示できるようにする-->
  </div>
</div>
